<div>
    <main>
        <div class="raw-input">
            <textarea name="clipboarddata" placeholder="Paste NPC data here">{{clipboarddata}}</textarea>
            <footer>
                <button name="cancel" type="button">{{localize "splittermond.cancel"}}</button>
                <button name="import" type="button" {{#unless this.ready}}disabled{{/unless}}>{{localize
                    "splittermond.import"}}</button>
            </footer>
        </div>
        <div class="window-app splittermond sheet actor">
            <section class="window-content">
                <div class="dummy"></div>
            </section>
        </div>
    </main>
    
</div>