@import "./variables.less";

.splittermond {

    &.window-app {
        background: url(../../systems/splittermond/images/parchment.jpg), url(../../systems/splittermond/images/background7.jpg);
        background-size: auto;
        background-repeat: repeat, no-repeat;
        background-position: top right;
        background-blend-mode: multiply;
        color: black;
        box-shadow: 0 0 5px inset rgba(255, 255, 255, 0.3), 0 0 20px #000;
    }

    .window-header,
    &.window-app.minimized .window-header {
        color: black;
        border: none;
        text-shadow: 0 0 10px white;
    }

    .window-header::after {
        display: block;
        content: "";
        position: absolute;
        width: 200px;
        height: 60px;
        left: 50%;
        top: -32px;
        margin-left: -100px;
        background: url(../../systems/splittermond/images/splittermond-logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
        filter: drop-shadow(0 0 5px lighten(@highlightTextColor, 20%));
    }

    &.window-app.minimized .window-header::after {
        width: 100px;
        margin-left: -50px;
        height: 30px;
        top: -16px;
    }

    .window-title {
        color: black;
    }


    .window-content {
        font-size: @fontSizeNormal;
        color: @textColor;
        font-family: 'Vollkorn';
        font-variant-numeric: lining-nums;
        position: relative;
        //padding: 16px;
        padding: 0em;
        z-index: 0;
        background: unset;
    }

    /*
    .window-content:after {
        position: absolute;
        left: 0;
        top: 0;
        content: " ";
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        border: 16px solid transparent;
        border-image:url(./images/frame2.png) 16 16 repeat;
        border-image-repeat: round;
        opacity: 0.2;
        z-index: -1;
    }
*/
    .window-resizable-handle {
        z-index: 0;
        background-color: transparent;
        border: none;
        color: @textColor;

    }

    main {
        padding: @paddingMedium;
        //background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3)), url(../../ui/parchment.jpg) repeat fixed;
        background: url(../../systems/splittermond/images/parchment.jpg) repeat fixed;
        box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
        border-top: 1px outset rgba(255, 255, 255, 0.3);
    }

    .tabs {
        font-family: 'Vollkorn SC';
        font-weight: 600;
        text-transform: lowercase;
        font-size: @fontSizeLarge;
        color: @textColor;
        position: relative;
        z-index: 10;



        justify-content: stretch;

        .item {
            position: relative;
            border-top-left-radius: @paddingSmall;
            border-top-right-radius: @paddingSmall;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            padding: @paddingSmall;
            padding-left: @paddingMedium;
            padding-right: @paddingMedium;
            flex: 1;

            &.active,
            &:hover {
                text-shadow: 0 0 0.5em @highlightTextColor;
                color: @activeTextColor;

            }

            &.active {
                background: url(../../systems/splittermond/images/parchment.jpg) repeat fixed;
                box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
                border: 1px outset rgba(255, 255, 255, 0.3);
                border-bottom: none;
                top: 1px;
            }
        }
    }

    .tab[data-tab].active {
        display: flex;


    }

    a {

        &:hover,
        &:active {
            text-shadow: 0 0 8px @highlightTextColor;
        }
    }

    .tab {

        flex-direction: column;

        .tabs {
            border-radius: @paddingSmall;
            font-size: @fontSizeNormal;
            border: 1px inset rgba(255, 255, 255, 0.3);
            //justify-self: start;
            align-self: start;

            overflow: hidden;
            margin-bottom: @paddingMedium;

            .item {
                text-transform: none;
                border-radius: 0;
                border: 1px outset rgba(255, 255, 255, 0.3);

                &.active {
                    background: none;
                    box-shadow: inset 0 0 @paddingLarge rgba(0, 0, 0, 0.2);
                    border: none;
                    top: 0px;
                    border-radius: 0;
                }
            }
        }


    }


    button:hover,
    button:focus,
    &.dialog button:hover,
    &.dialog button.default:hover {
        box-shadow: 0 0 @paddingLarge inset white;
        text-shadow: 0 0 8px @highlightTextColor;
    }

    button:active {
        box-shadow: 0 0 @paddingLarge inset rgba(0, 0, 0, 0.2);
    }

    button,
    &.dialog button,
    &.dialog button.default {
        background: none;
        border: 2px groove rgba(255, 255, 255, 0.3);
        box-shadow: none;
        border-radius: @paddingSmall;
        font-family: "Vollkorn";
        text-shadow: 0 0 @paddingSmall white;
        margin: 3px;
    }

    &.dialog button,
    &.dialog button.default {
        margin: 0;
    }

    .actions {
        display: flex;
    }



    img {
        border: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: @textColor;
        font-weight: bold;
        //font-family: 'Modesto Condensed';
        font-family: 'Vollkorn SC';
        border: none;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    h1 {
        font-size: @fontSizeLarger;
        font-weight: 400;
        font-variant: small-caps;
        font-variant-caps: small-caps;
    }

    h2 {
        font-size: @fontSizeLarge;
        font-weight: 600;
    }

    h3 {
        font-size: @fontSizeNormal;
        font-weight: 700;

        //box-shadow: inset 0px 0px @paddingMedium rgba(0,0,0,0.3);
    }

    .tooltip-activator {
        position: relative;

        &:hover+.tooltip,
        &:hover>.tooltip {
            display: block;
        }


    }

    #tooltip {
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        padding: @paddingMedium;
        background: url(../../systems/splittermond/images/parchment.jpg) repeat fixed;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        border-radius: 0.5rem;
        text-shadow: none;
        z-index: 100000;

        p {
            max-width: 400px;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .formula {
            display: inline-flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;

            >* {
                margin: @paddingSmall;
            }

            .formula-part {
                display: flex;
                flex-direction: column;
                align-items: center;

                .description {
                    font-family: 'Signika';
                    font-size: 10px;
                }

                .value {
                    font-weight: bold;
                }

                &.malus {
                    color: @colorFail;
                }

                &.bonus {
                    color: @colorSuccess;
                }
            }
        }

    }

    .tooltip {
        display: none;
        position: absolute;
        min-width: 160px;
        top: 2em;
        padding: @paddingMedium;
        background: url(../../systems/splittermond/images/parchment.jpg) repeat fixed;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        border-radius: 0.5rem;
        text-shadow: none;
        z-index: 1000;
    }

    .tooltip-activator {

        &:hover+.bonus-malus.tooltip,
        &:hover>.bonus-malus.tooltip {
            display: grid;
            grid-template-columns: 3fr 1fr;
            gap: @paddingSmall;
        }
    }

    .bonus-malus label {
        font-weight: normal;
    }

    .bonus-malus .value {
        font-weight: bold;
    }



    .solars,
    .lunars,
    .telars {
        display: inline-block;
        border-radius: @paddingSmall;
        box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3), 0 0px 3px inset white;
        margin-left: 0.5em;
        padding-right: 0.2em;

        &::before {
            display: inline-block;
            content: " ";
            width: 1.2em;
            height: 1.2em;
            margin-right: 0.2em;

            background-size: contain;
            vertical-align: middle;
            border-radius: 3px;
        }

        &::after {
            display: inline;
        }

        input {
            text-align: right;
            width: 3em;
        }
    }


    .solars::after {
        content: " S ";
    }

    .lunars::after {
        content: " L ";
    }

    .telars::after {
        content: " T ";
    }

    .solars::before {
        background-image: url(../../icons/commodities/currency/coins-assorted-mix-copper.webp);
    }

    .lunars::before {
        background-image: url(../../icons/commodities/currency/coins-assorted-mix-silver.webp);
    }

    .telars::before {
        background-image: url(../../icons/commodities/currency/coins-assorted-mix-platinum.webp);
    }




    ul.checkbox-list {
        display: block;
        margin: 0;
        padding: 0;

        li {
            display: inline;
            margin: 0;
            padding: 0;


            input {
                display: none;
            }

            label {
                cursor: pointer;
                display: inline-block;
                margin-right: @paddingSmall;
                margin-bottom: @paddingSmall;
                margin-top: @paddingSmall;

                padding: @paddingSmall;
                border-radius: @paddingSmall;
                box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3), 0 0px 3px inset white;
                white-space: nowrap;
            }

            input~label {
                opacity: 0.7;

                &::before {
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    font-size: 12px;
                    padding: 2px 6px 2px 2px;
                    content: "\f067";
                }
            }

            input:checked~label {
                opacity: 1;

                &::before {
                    content: "\f00c";
                }

            }
        }
    }



    input[type="text"],
    #autoexpanddummy {
        font-variant-numeric: lining-nums;
        border: none;
        background: none;
        color: @activeTextColor;


        padding: @paddingSmall;
        padding-bottom: @paddingSmall;
        margin: 0;

        vertical-align: baseline;

        display: inline-block;
        height: 100%;
        border-radius: @paddingMedium;
        //border-bottom: solid 1px fade(@textColor, 30%);

        font-weight: bold;

        &:disabled {
            color: @textColor;
        }

        &:hover {
            //background-color: rgba(255,255,255,0.25);
            text-shadow: 0 0 0.3em white;
        }

        &:focus {
            //box-shadow: 0px 0px @paddingSmall inset rgba(0,0,0,0.5);
            box-shadow: 0px 0px @paddingSmall rgba(0, 0, 0, 0.5);

            //background-color: rgba(0,0,0,0.1);
            text-shadow: 0 0 0.3em white;
        }

        &.autoexpand {
            box-sizing: content-box;
        }
    }

    .button-inline {
        padding: 0px;
        margin: 0px;
        //padding-left: 0.25em;
        //padding-right: 0.25em;
        background: none;
        border: none;
        display: inline-block;
        width: unset;
        box-shadow: none;
        line-height: unset;
        color: fade(@textColor, 70%);



        &:hover {
            text-shadow: none;
            color: @textColor;
            box-shadow: none;
        }

        &[disabled] {
            color: fade(@textColor, 20%);

            &:hover {
                text-shadow: none;
                box-shadow: none;
                color: fade(@textColor, 20%);
            }

        }

        &:active {
            box-shadow: none;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        border-radius: @paddingSmall;
        border: 1px inset rgba(255, 255, 255, 0.3);

        margin-bottom: @paddingMedium;



        &:hover>.list-header>.actions>button {
            display: inline-block;
        }



        .list-header {
            display: flex;
            width: 100%;
            border: 1px outset rgba(255, 255, 255, 0.3);
            border-radius: @paddingSmall;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            align-items: center;
            padding: @paddingSmall;

            overflow: hidden;

            *:not(:first-child) {
                border-left: 2px groove rgba(255, 255, 255, 0.3);
                color: fade(@textColor, 70%);
            }

            >*:first-child {
                flex: 1;
            }

            >.actions {
                width: 4em;
                text-align: right;

                button {
                    display: none;
                }
            }

        }



        >ul,
        >ol {
            display: block;
            flex-basis: 100%;
            padding: 0;
            margin: 0;
            top: 0px;
            left: 0px;
            box-shadow: inset 0 0 @paddingLarge rgba(0, 0, 0, 0.2);
            border-bottom-left-radius: @paddingSmall;
            border-bottom-right-radius: @paddingSmall;


            >li {
                display: flex;
                align-items: center;
                position: relative;
                padding: @paddingSmall;
                border: 1px solid transparent;

                &:nth-child(odd),
                &.odd {
                    background-color: fade(@textColor, 5%);
                }

                &.even {
                    background-color: unset;
                }


                &:hover,
                &.hover {
                    background-color: fade(@highlightTextColor, 10%);

                    >.actions>button {
                        display: inline-block;
                    }
                }

                input {
                    margin-top: -@paddingSmall;
                    margin-bottom: -@paddingSmall;
                }

                input[type="checkbox"] {
                    width: @fontSizeNormal;
                    height: @fontSizeNormal;
                    margin-top: @paddingSmall;
                }


                >* {
                    border-left: 2px groove rgba(255, 255, 255, 0.3);
                }



                >*:first-child {
                    flex: 1;
                    border-left: none;
                }

                >.actions {
                    width: 4em;
                    text-align: right;

                    button {
                        display: none;
                    }
                }
            }
        }
    }

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-thumb {
        outline: none;
        border-radius: 3px;
        background: fade(@activeTextColor, 50%);
        border: 1px outset rgba(255, 255, 255, 0.3);
    }

    ::-webkit-scrollbar-track {
        border-radius: 4px;
        background-color: transparent;

        box-shadow: none;
        margin-bottom: 14px;
        border: none;
    }

    &.dialog {
        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: @paddingMedium;
            padding: @paddingMedium;

            label {
                text-align: right;
            }
        }

        &.selection {
            .dialog-buttons {
                grid-template-columns: 1fr;
            }

        }
    }

}

.taglist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    margin: 0;
    padding: 0;
    flex: 1;

    li {
        display: flex;
        align-items: center;
        margin-right: @paddingSmall;
        //padding: @paddingSmall;
        margin-top: @paddingSmall;
        margin-bottom: @paddingSmall;
        line-height: 22px;
        box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3), 0 0px 3px inset white;
        position: relative;
        border-radius: @paddingMedium;

        .name {
            padding-left: @paddingSmall;
            padding-right: @paddingSmall;
            flex: 1;
        }

        .actions {
            padding-left: @paddingSmall;
            padding-right: @paddingSmall;
            display: inline-block;
            opacity: 0;
        }

        .tooltip {
            width: 20em;
        }

        &:hover {
            box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3), 0 0px 3px inset white;

            .actions {
                opacity: 1;
            }
        }
    }

    li.actions {
        box-shadow: none;
        padding: 0;
        margin: 0;
        margin-left: @paddingSmall;
    }
}

.dialog .dialog-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    grid-gap: @paddingMedium;
    padding: @paddingSmall;
}

#combat {
    #combat-controls {
        [data-control="previousRound"] {
            display: none;
        }

        [data-control="nextRound"] {
            display: none;
        }
    }
}