.splittermond {
    .sheet-navigation:extend(.tabs-style all) {
        //.tabs();
        display: flex;
        line-height: 26px;
    }

    &.sheet.actor .sheet-navigation {
        margin-left: -8px;
        margin-right: -8px;
        margin-bottom: 7px;
    }

    .sheet-navigation-item:extend(.tabs-style .item all) {
        flex: 1;
        text-align: center;
    }

    .subnav:extend(.tabs-style all) {
        display: flex;
        line-height: 26px;
    }

    .subnav-item:extend(.tabs-style .item all) {
        flex: 1;
        text-align: center;
    }

}