.app.window-app.journal-sheet:not(.dark) {
    background: url(../../systems/splittermond/images/parchment.jpg),url(../../systems/splittermond/images/background5.jpg);
    background-size: auto;
    background-repeat: repeat, no-repeat;
    background-position: bottom left;
    background-blend-mode: multiply;
    color: black;
    box-shadow: 0 0 5px inset rgba(255,255,255,0.3), 0 0 20px #000;

    .window-header, &.window-app.minimized .window-header {
        color: black;
        border:none;
        text-shadow: 0 0 10px white;
    }

    
    .window-title {
        color: black;
    }
    

    .window-content {
        font-size: @fontSizeNormal;
        color: @textColor;
        font-family: 'Vollkorn';
        font-variant-numeric: lining-nums;
        position: relative;
        //padding: 16px;
        padding: 0em;
        padding-left: 20px;
        padding-right: 20px;
        z-index: 0;
        background: unset;
    }

    a:hover {
        text-shadow: 0 0 8px @highlightTextColor;
    }

    h2 {
        color: @activeTextColor;
        border: none;
        text-align: center;
        font-size: @fontSizeLarger;
        font-weight: bold;
        margin: 0;
    }

    a.entity-link, a.inline-roll {
        border-radius: @paddingSmall;
        border: none;
        box-shadow: 0px 0px @paddingSmall inset rgba(0,0,0,0.5);
        
    }

    a.entity-link {
        background-color: rgba(200,200,200,0.3);
    }

    p {
        margin-block-start: 0em;
        margin-block-end: 1em;
    }

    h1 {
        color: black;
        font-weight: bold;
        border: none;
        text-align: center;
        font-size: @fontSizeLarger;
        margin: 0;
    }


    h2 {
        color: @activeTextColor;
        border: none;
        text-align: center;
        font-size: @fontSizeLarger;
        margin: 0;
    }

    h3 {
        color: black;
        font-size: @fontSizeLarge;
        font-weight: bold;
        margin: 0;
    }

    input[type="text"], #autoexpanddummy {
        font-variant-numeric: lining-nums;
        border: none;
        background: none;
        color: @activeTextColor;
        

        padding: @paddingSmall;
        padding-bottom: @paddingSmall;
        margin: 0;

        vertical-align: baseline;

        display: inline-block;
        border-radius: @paddingMedium;
        //border-bottom: solid 1px fade(@textColor, 30%);

        font-weight: bold;

        &:disabled {
            color: @textColor;
        }

        &:hover {
            //background-color: rgba(255,255,255,0.25);
            text-shadow: 0 0 0.3em white;
        }

        &:focus {
            //box-shadow: 0px 0px @paddingSmall inset rgba(0,0,0,0.5);
            box-shadow: 0px 0px @paddingSmall rgba(0,0,0,0.5);

            //background-color: rgba(0,0,0,0.1);
            text-shadow: 0 0 0.3em white;
        }

        &.autoexpand {
            box-sizing: content-box;
        }
    }

     button:hover, button:focus, &.dialog button:hover, &.dialog button.default:hover {
        box-shadow: 0 0 @paddingLarge inset white;
        text-shadow: 0 0 8px @highlightTextColor;
    }

    button:active {
        box-shadow: 0 0 @paddingLarge inset rgba(0,0,0,0.2);
    }

    button, &.dialog button, &.dialog button.default {
        background: none;
        border: 2px groove rgba(255, 255, 255, 0.3);
        box-shadow: none;
        border-radius: @paddingSmall;
        font-family: "Vollkorn";
        text-shadow: 0 0 @paddingSmall white;
        margin: 3px;
    }

    &.dialog button, &.dialog button.default {
        margin: 0;
    }

     ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    ::-webkit-scrollbar-thumb {
        outline: none;
        border-radius: 3px;
        background: fade(@activeTextColor, 50%);
        border: 1px outset rgba(255,255,255,0.3);
    }
    ::-webkit-scrollbar-track {
        border-radius: 4px;
        background-color: transparent;
        
        box-shadow: none;
        margin-bottom: 14px;
        border: none;
    }

}