@backgroundColor: hsla(230, 10%, 80%, 1);

@textColor: #444546;
@textColor: #303336;
@activeTextColor: #14283f;
@activeTextColor: #143a66;
@highlightTextColor: #2D80E1;

@fontSizeSmall: 12px;
@fontSizeNormal: 14px;
@fontSizeLarge: 18px;
@fontSizeLarger: 24px;

@paddingLarge: 14px;
@paddingMedium: 7px;
@paddingSmall: 3px;

@colorSuccess: #458900;
@colorFail: #892100;
@colorHealth: @colorFail;
@colorFocus: @highlightTextColor;
