@font-face {
  font-family: 'Vollkorn';
  src: url('./fonts/Vollkorn-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Vollkorn';
  src: url('./fonts/Vollkorn-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'Vollkorn SC';
  src: url('./fonts/VollkornSC-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Vollkorn SC';
  src: url('./fonts/VollkornSC-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Vollkorn SC';
  src: url('./fonts/VollkornSC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Vollkorn SC';
  src: url('./fonts/VollkornSC-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
/*
@import "./app.less";
@import "./chat.less";

@import "./sheet.less";
@import "./sheet-item.less";
@import "./sheet-character.less";
@import "./sheet-journal.less";

@import "./wizard-species.less";
@import "./compendium-browser.less";
*/
.splittermond {
  color: #303336;
}
.splittermond.window-app {
  background: url(../../systems/splittermond/images/parchment.jpg), url(../../systems/splittermond/images/background7.jpg);
  background-size: auto;
  background-repeat: repeat, no-repeat;
  background-position: top right;
  background-blend-mode: multiply;
  color: black;
  box-shadow: 0 0 5px inset rgba(255, 255, 255, 0.3), 0 0 20px #000;
}
.splittermond .window-header,
.splittermond.window-app.minimized .window-header {
  color: black;
  border: none;
  text-shadow: 0 0 10px white;
}
.splittermond .window-header::after {
  display: block;
  content: "";
  position: absolute;
  width: 170px;
  height: 60px;
  left: 50%;
  top: -32px;
  margin-left: -85px;
  background: url(../../systems/splittermond/images/splittermond-logo-h60.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  filter: drop-shadow(0 0 5px #86b6ee);
}
.splittermond.window-app.minimized .window-header::after {
  width: 85px;
  margin-left: -43px;
  height: 30px;
  top: -16px;
}
.splittermond .window-title {
  color: black;
}
.splittermond .window-content {
  font-size: 14px;
  color: #303336;
  font-family: 'Vollkorn';
  font-variant-numeric: lining-nums;
  position: relative;
  padding: 0em;
  z-index: 0;
  background: unset;
  border-radius: 6px;
}
.splittermond .window-resizable-handle {
  z-index: 0;
  background-color: transparent;
  border: none;
  color: #303336;
}
.splittermond img {
  border: none;
}
.splittermond input[type="checkbox"] {
  width: 14px;
  height: 14px;
}
.splittermond input[type="text"],
.splittermond input[type="number"],
.splittermond #autoexpanddummy {
  font-family: 'Vollkorn';
  font-variant-numeric: lining-nums;
  border: none;
  background: none;
  color: #143a66;
  height: unset;
  padding: 3px;
  padding-bottom: 3px;
  margin: 0;
  border-radius: 3px;
  vertical-align: baseline;
  display: inline-block;
  font-weight: bold;
}
.splittermond input[type="text"]:disabled,
.splittermond input[type="number"]:disabled,
.splittermond #autoexpanddummy:disabled {
  color: #303336;
}
.splittermond input[type="text"]:hover,
.splittermond input[type="number"]:hover,
.splittermond #autoexpanddummy:hover {
  text-shadow: 0 0 0.3em white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}
.splittermond input[type="text"]:focus,
.splittermond input[type="number"]:focus,
.splittermond #autoexpanddummy:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 0.3em white;
}
.splittermond input[type="text"].autoexpand,
.splittermond input[type="number"].autoexpand,
.splittermond #autoexpanddummy.autoexpand {
  box-sizing: content-box;
}
.splittermond a:hover,
.splittermond a:active {
  text-shadow: 0 0 8px #2D80E1;
}
.splittermond button,
.splittermond button.dialog-button,
.splittermond select {
  background: none;
  border: 2px groove rgba(255, 255, 255, 0.3);
  box-shadow: none;
  border-radius: 3px;
  font-family: "Vollkorn";
  text-shadow: 0 0 3px white;
  margin: 3px;
  font-size: inherit;
  color: inherit;
  font-variant-numeric: lining-nums;
}
.splittermond select {
  font-weight: 900;
}
.splittermond button:hover,
.splittermond button.dialog-button:hover,
.splittermond button:focus,
.splittermond button.dialog-button:focus,
.splittermond button.dialog-button.default,
.splittermond select:hover,
.splittermond select:focus {
  box-shadow: 0 0 14px inset white;
  text-shadow: 0 0 8px #2D80E1;
  border: 2px groove rgba(255, 255, 255, 0.3);
}
.splittermond button:active,
.splittermond select:active {
  box-shadow: 0 0 14px inset rgba(0, 0, 0, 0.2);
  border: 2px inset rgba(255, 255, 255, 0.3);
}
.splittermond h1,
.splittermond h2,
.splittermond h3,
.splittermond h4,
.splittermond h5 {
  font-weight: bold;
  padding: 0;
  margin: 0;
  border: none;
}
.splittermond h1 {
  font-family: 'Vollkorn SC';
  font-size: 24px;
}
.splittermond h2 {
  font-family: 'Vollkorn SC';
  font-size: 18px;
}
.splittermond h3 {
  font-family: 'Vollkorn SC';
  font-size: 14px;
}
.splittermond h4 {
  font-family: 'Vollkorn';
  font-size: 14px;
}
.splittermond ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.splittermond ::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: rgba(20, 58, 102, 0.5);
  border: 1px outset rgba(255, 255, 255, 0.3);
}
.splittermond ::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 14px;
  border: none;
}
.splittermond .row {
  display: flex;
  flex-direction: row;
}
.splittermond .row.flex-gap > *:not(:last-child) {
  margin-right: 7px;
}
.splittermond .row.flex-gap-large > *:not(:last-child) {
  margin-right: 14px;
}
.splittermond .column {
  display: flex;
  flex-direction: column;
}
.splittermond .column.flex-gap > *:not(:last-child) {
  margin-bottom: 7px;
}
.splittermond .column.flex-gap-large > *:not(:last-child) {
  margin-bottom: 14px;
}
.splittermond .stretch {
  flex: 1;
}
.splittermond header {
  padding: 7px;
}
.splittermond main {
  padding: 7px;
}
.splittermond .window-content {
  overflow-y: hidden;
}
.splittermond .window-content form {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.splittermond .window-content form main {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.splittermond main > section {
  min-height: 100px;
}
.splittermond main > section.tab.active[data-tab] {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}
.splittermond.sheet main > section.tab.active[data-tab] {
  display: grid;
  grid-gap: 7px;
  overflow-y: auto;
  height: 100%;
}
.splittermond section[data-tab="general"] {
  z-index: 0;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: start;
  align-content: start;
  grid-gap: 7px;
}
.splittermond.npc section[data-tab="general"] {
  grid-template-columns: 200px 1fr;
}
.splittermond section[data-tab="skills"] {
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  align-content: start;
  height: 100%;
  overflow-y: hidden;
}
.splittermond section[data-tab="skills"] .skills {
  overflow-y: auto;
}
.splittermond section[data-tab="skills"] .masteries {
  overflow-y: auto;
}
.splittermond.sheet.item header {
  align-items: center;
}
.splittermond.compendium-browser .list {
  overflow-y: auto;
}
.splittermond.compendium-browser main > section.tab.active {
  overflow-y: hidden;
}
.splittermond .bar {
  width: 100%;
  height: 5px;
  background-color: rgba(48, 51, 54, 0.3);
  display: flex;
  overflow: hidden;
}
.splittermond .bar > div {
  width: 0%;
  height: 100%;
  background-color: #2D80E1;
}
.splittermond .bar > .channeled {
  background: repeating-linear-gradient(45deg, rgba(45, 128, 225, 0.3), rgba(45, 128, 225, 0.3) 5px, #2D80E1 5px, #2D80E1 10px);
}
.splittermond .bar > .exhausted {
  opacity: 0.5;
}
.splittermond .bar-health,
.splittermond .bar-focus {
  height: 10px;
  box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}
.splittermond .bar-health > div,
.splittermond .bar-focus > div {
  box-shadow: 0 0 5px inset rgba(0, 0, 0, 0.3);
}
.splittermond .bar-health > div {
  background-color: #892100;
}
.splittermond .bar-health > .channeled {
  background: repeating-linear-gradient(45deg, rgba(137, 33, 0, 0.3), rgba(137, 33, 0, 0.3) 5px, #892100 5px, #892100 10px);
}
.splittermond .bar-with-value {
  position: relative;
  margin-right: 10px;
}
.splittermond .bar-with-value .value {
  font-family: "Signika";
  font-size: 14px;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 10px;
  text-align: center;
  top: 50%;
  vertical-align: middle;
  line-height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  color: white;
  left: 12.5%;
  z-index: 2;
  background-color: #2D80E1;
}
.splittermond .bar-with-value-health .value {
  background-color: #892100;
}
.splittermond input[type="text"].character-name,
.splittermond input[type="text"].item-name {
  font-size: 24px;
  font-family: 'Vollkorn SC';
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.splittermond .item-name,
.splittermond.npc .character-name {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.splittermond .experience {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}
.splittermond .experience .bar {
  flex-basis: 100%;
}
.splittermond .experience-label {
  flex: 1;
}
.splittermond .experience-value {
  flex: 1;
  text-align: right;
}
.splittermond .moonsign {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  position: relative;
  margin: auto;
}
.splittermond .moonsign-splinterpoints {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 10px;
  font-size: 24px;
  color: white;
  text-shadow: 0 0 3px black;
}
.splittermond .moonsign-splinterpoints input {
  width: 30px;
  text-align: right;
  color: white;
  text-shadow: 0 0 3px black;
}
.splittermond .moonsign-splinterpoints input:disabled {
  color: white;
}
.splittermond .moonsign-splinterpoints input:hover {
  text-shadow: 0 0 5px black;
}
.splittermond .moonsign-splinterpoints input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 5px black;
}
.splittermond .moonsign-splinterpoints input.autoexpand {
  box-sizing: content-box;
}
.splittermond .moonsign-splinterpoints span {
  display: block;
  width: 40px;
}
.splittermond .moonsign-splinterpoints button {
  opacity: 0;
}
.splittermond .moonsign-splinterpoints:hover button {
  opacity: 1;
}
.splittermond .moonsign-image {
  width: 48px;
  height: 48px;
  filter: drop-shadow(0 0 5px white) opacity(0.3);
}
.splittermond .moonsign-label {
  text-align: center;
  text-shadow: 0 0 5px white;
  font-weight: bold;
}
.splittermond .derived-attribute-list {
  display: grid;
  grid-template-columns: repeat(4, 3em);
  gap: 0.5em;
}
.splittermond .derived-attribute {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.splittermond .derived-attribute label {
  font-weight: 900;
}
.splittermond .derived-attribute span,
.splittermond .derived-attribute input {
  font-weight: 700;
  font-size: 18px;
  height: auto;
}
.splittermond .derived-attribute input {
  margin: -3px;
}
.splittermond .derived-attribute > * {
  width: 100%;
  text-align: center;
}
.splittermond header .damage-reduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../icons/svg/shield.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  width: 60px;
  margin: 3px;
  padding: 3px;
  border-right: 2px groove rgba(255, 255, 255, 0.3);
  border-left: 2px groove rgba(255, 255, 255, 0.3);
}
.splittermond header .damage-reduction label {
  font-weight: 900;
}
.splittermond header .damage-reduction span,
.splittermond header .damage-reduction input {
  font-weight: 700;
  font-size: 18px;
  height: auto;
}
.splittermond header .damage-reduction input {
  margin: -3px;
}
.splittermond header .damage-reduction > * {
  width: 100%;
  text-align: center;
}
.splittermond .health-focus-headline {
  display: flex;
}
.splittermond .health-focus-headline > label {
  display: inline-block;
  font-weight: 900;
  align-self: center;
  flex: 1;
}
.splittermond .health-focus-data {
  display: grid;
  grid-template-columns: 25px 60px;
  gap: 3px;
}
.splittermond .health-focus-data label {
  text-align: right;
}
.splittermond .health-focus-data .value {
  text-align: center;
  display: flex;
  padding-left: 3px;
  padding-right: 3px;
}
.splittermond .health-focus-data .value span {
  display: block;
  flex: 1;
  text-align: center;
}
.splittermond .health-focus-data input {
  margin: -3px;
}
.splittermond .health-focus-data button {
  opacity: 0;
}
.splittermond .health-focus-data:hover button {
  opacity: 1;
}
.splittermond .wound-malus {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  width: 100%;
  padding-right: 10px;
}
.splittermond .wound-malus-level {
  border-right: 2px groove rgba(255, 255, 255, 0.5);
  padding-top: 12px;
  position: relative;
  top: -10px;
  text-align: center;
  color: rgba(48, 51, 54, 0.5);
  flex: 1;
}
.splittermond .wound-malus-level:first-child {
  border-right: none;
}
.splittermond .wound-malus-level-active {
  font-weight: 900;
  text-shadow: 0 0 3px white;
  color: #303336;
}
.splittermond .sheet-navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Vollkorn SC';
  font-weight: 600;
  text-transform: lowercase;
  font-size: 18px;
  color: #303336;
  position: relative;
  z-index: 10;
  justify-content: stretch;
}
.splittermond .sheet-navigation-item {
  position: relative;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
  flex: 1;
  text-align: center;
}
.splittermond .sheet-navigation-item.active,
.splittermond .sheet-navigation-item:hover {
  text-shadow: 0 0 0.5em #2D80E1;
  color: #143a66;
}
.splittermond .sheet-navigation-item.active {
  background: url(../../systems/splittermond/images/parchment.jpg) repeat fixed;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
  border: 1px outset rgba(255, 255, 255, 0.3);
  border-bottom: none;
  top: 1px;
}
.splittermond.sheet main,
.splittermond.compendium-browser main {
  background: url(../../systems/splittermond/images/parchment.jpg) repeat fixed;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
  border-top: 1px outset rgba(255, 255, 255, 0.3);
}
.splittermond #tooltip {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 7px;
  background: url(../../systems/splittermond/images/parchment.jpg) repeat fixed;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  text-shadow: none;
  z-index: 100000;
}
.splittermond #tooltip p {
  max-width: 400px;
}
.splittermond #tooltip p:first-child {
  margin-top: 0;
}
.splittermond #tooltip p:last-child {
  margin-bottom: 0;
}
.splittermond #tooltip .formula,
.splittermond .tooltip-part .formula {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.splittermond #tooltip .formula > *,
.splittermond .tooltip-part .formula > * {
  margin: 3px;
}
.splittermond #tooltip .formula .formula-part,
.splittermond .tooltip-part .formula .formula-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.splittermond #tooltip .formula .formula-part .description,
.splittermond .tooltip-part .formula .formula-part .description {
  font-family: 'Signika';
  font-size: 10px;
}
.splittermond #tooltip .formula .formula-part .value,
.splittermond .tooltip-part .formula .formula-part .value {
  font-weight: bold;
}
.splittermond #tooltip .formula .formula-part.malus,
.splittermond .tooltip-part .formula .formula-part.malus {
  color: #892100;
}
.splittermond #tooltip .formula .formula-part.bonus,
.splittermond .tooltip-part .formula .formula-part.bonus {
  color: #458900;
}
.splittermond .tooltip {
  display: none;
  position: absolute;
  min-width: 160px;
  top: 2em;
  padding: 7px;
  background: url(../../systems/splittermond/images/parchment.jpg) repeat fixed;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  text-shadow: none;
  z-index: 1000;
}
.splittermond .button-inline {
  padding: 0px;
  margin: 0px;
  background: none;
  border: none;
  display: inline-block;
  width: unset;
  box-shadow: none;
  line-height: unset;
  color: rgba(48, 51, 54, 0.7);
}
.splittermond .button-inline:hover {
  text-shadow: none;
  color: #303336;
  box-shadow: none;
  border: none;
}
.splittermond .button-inline[disabled] {
  color: rgba(48, 51, 54, 0.2);
}
.splittermond .button-inline[disabled]:hover {
  text-shadow: none;
  box-shadow: none;
  color: rgba(48, 51, 54, 0.2);
}
.splittermond .button-inline:active,
.splittermond .button-inline:focus {
  box-shadow: none;
  border: none;
}
.splittermond .list {
  display: flex;
  flex-direction: column;
  border: 1px inset rgba(255, 255, 255, 0.3);
  margin-bottom: 7px;
  position: relative;
  border-radius: 3px;
}
.splittermond .list:hover > .list-header > .actions > button {
  display: inline-block;
}
.splittermond .list-actions {
  width: 4em;
  text-align: center;
}
.splittermond .list-header {
  display: flex;
  width: 100%;
  border: 1px outset rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  align-items: center;
  padding: 3px;
  position: sticky;
  top: 0;
  background: url(../../systems/splittermond/images/parchment.jpg) repeat fixed;
  z-index: 10;
  overflow: hidden;
}
.splittermond .list-header *:not(:first-child) {
  border-left: 2px groove rgba(255, 255, 255, 0.3);
  color: rgba(48, 51, 54, 0.7);
}
.splittermond .list-header > *:first-child {
  flex-grow: 1;
}
.splittermond .list-header > .list-actions button {
  display: none;
}
.splittermond .list-header:hover > .list-actions > button {
  display: inline-block;
}
.splittermond .list-body {
  display: block;
  flex-basis: 100%;
  padding: 0;
  margin: 0;
  top: 0px;
  left: 0px;
  box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.splittermond .list-item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 3px;
  border: 1px solid transparent;
}
.splittermond .list-item:nth-child(odd),
.splittermond .list-item.odd {
  background-color: rgba(48, 51, 54, 0.05);
}
.splittermond .list-item.even {
  background-color: unset;
}
.splittermond .list-item:hover,
.splittermond .list-item.hover {
  background-color: rgba(45, 128, 225, 0.1);
}
.splittermond .list-item:hover > .list-actions > button,
.splittermond .list-item.hover > .list-actions > button {
  display: inline-block;
}
.splittermond .list-item input {
  margin-top: -3px;
  margin-bottom: -3px;
}
.splittermond .list-item input[type="checkbox"] {
  width: 14px;
  height: 14px;
  margin-top: 3px;
}
.splittermond .list-item > * {
  border-left: 2px groove rgba(255, 255, 255, 0.3);
}
.splittermond .list-item > *:first-child {
  flex: 1;
  border-left: none;
}
.splittermond .list-item > .list-actions button {
  display: none;
}
.splittermond .list.spells img,
.splittermond .list.inventory img,
.splittermond .list.attack img,
.splittermond .list.active-defense img {
  width: 32;
  height: 32;
  flex: none;
  margin: -3px;
}
.splittermond .list.spells .list,
.splittermond .list.inventory .list,
.splittermond .list.attack .list,
.splittermond .list.active-defense .list {
  margin-bottom: 7px;
}
.splittermond .list.spells label,
.splittermond .list.inventory label,
.splittermond .list.attack label,
.splittermond .list.active-defense label {
  flex: 1;
  padding-left: 7px;
  border-left: none;
}
.splittermond .list.spells .qty,
.splittermond .list.inventory .qty,
.splittermond .list.attack .qty,
.splittermond .list.active-defense .qty,
.splittermond .list.spells .load,
.splittermond .list.inventory .load,
.splittermond .list.attack .load,
.splittermond .list.active-defense .load,
.splittermond .list.spells .weapon-speed,
.splittermond .list.inventory .weapon-speed,
.splittermond .list.attack .weapon-speed,
.splittermond .list.active-defense .weapon-speed,
.splittermond .list.spells .tick-malus,
.splittermond .list.inventory .tick-malus,
.splittermond .list.attack .tick-malus,
.splittermond .list.active-defense .tick-malus,
.splittermond .list.spells .defense-bonus,
.splittermond .list.inventory .defense-bonus,
.splittermond .list.attack .defense-bonus,
.splittermond .list.active-defense .defense-bonus,
.splittermond .list.spells .damage-reduction,
.splittermond .list.inventory .damage-reduction,
.splittermond .list.attack .damage-reduction,
.splittermond .list.active-defense .damage-reduction,
.splittermond .list.spells .handicap,
.splittermond .list.inventory .handicap,
.splittermond .list.attack .handicap,
.splittermond .list.active-defense .handicap,
.splittermond .list.spells .range,
.splittermond .list.inventory .range,
.splittermond .list.attack .range,
.splittermond .list.active-defense .range,
.splittermond .list.spells .value,
.splittermond .list.inventory .value,
.splittermond .list.attack .value,
.splittermond .list.active-defense .value,
.splittermond .list.spells .difficulty,
.splittermond .list.inventory .difficulty,
.splittermond .list.attack .difficulty,
.splittermond .list.active-defense .difficulty {
  width: 3em;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.splittermond .list.spells .damage,
.splittermond .list.inventory .damage,
.splittermond .list.attack .damage,
.splittermond .list.active-defense .damage,
.splittermond .list.spells .costs,
.splittermond .list.inventory .costs,
.splittermond .list.attack .costs,
.splittermond .list.active-defense .costs,
.splittermond .list.spells .cast-duration,
.splittermond .list.inventory .cast-duration,
.splittermond .list.attack .cast-duration,
.splittermond .list.active-defense .cast-duration,
.splittermond .list.spells .effect-duration,
.splittermond .list.inventory .effect-duration,
.splittermond .list.attack .effect-duration,
.splittermond .list.active-defense .effect-duration {
  width: 6em;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.splittermond .list.spells .costs,
.splittermond .list.inventory .costs,
.splittermond .list.attack .costs,
.splittermond .list.active-defense .costs {
  width: 9em;
}
.splittermond .list.spells .features,
.splittermond .list.inventory .features,
.splittermond .list.attack .features,
.splittermond .list.active-defense .features {
  width: 15em;
  padding-left: 3px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}
.splittermond .list-attributes .start,
.splittermond .list-attributes .value,
.splittermond .list-attributes .max {
  width: 35px;
  text-align: center;
}
.splittermond .list-attributes .start input,
.splittermond .list-attributes .max input {
  font-weight: normal;
}
.splittermond .list-resources .value {
  width: 35px;
  text-align: center;
}
.splittermond .attributes {
  display: grid;
  grid-column: 1 / end;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: stretch;
  padding-top: 3px;
  align-items: center;
  gap: 0.5em;
}
.splittermond .attributes .attribute {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-right: 2px groove rgba(255, 255, 255, 0.3);
  font-weight: bold;
}
.splittermond .attributes .attribute input {
  font-size: 18px;
  max-width: 2em;
  width: 2em;
  margin: 0;
  height: auto;
  text-align: center;
}
.splittermond .attributes .attribute label {
  width: auto;
  margin-right: 3px;
}
.splittermond .list.skills {
  max-width: 480px;
  position: relative;
}
.splittermond .list.skills label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.splittermond .list.skills .attribute,
.splittermond .list.skills .value,
.splittermond .list.skills input {
  width: 3em;
}
.splittermond .list.skills .attribute {
  text-align: center;
  color: rgba(48, 51, 54, 0.5);
  font-weight: 500;
}
.splittermond .list.skills .value,
.splittermond .list.skills input {
  text-align: center;
}
.splittermond .list.skills,
.splittermond .list.masteries {
  position: relative;
  height: 100%;
  overflow-y: auto;
  display: block;
}
.splittermond .list.masteries .list-item {
  flex-direction: column;
  align-items: flex-start;
}
.splittermond .list.masteries .list-item > * {
  border: none;
}
.splittermond .list.masteries .list-item > label {
  font-weight: bold;
}
.splittermond .list.masteries.tooltip {
  height: unset;
}
.splittermond .taglist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  flex: 1;
  list-style-type: none;
}
.splittermond .taglist-actions {
  box-shadow: none;
  padding: 0;
  margin: 0;
  margin-left: 3px;
}
.splittermond li.taglist-item {
  display: flex;
  align-items: center;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  line-height: 22px;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3), 0 0px 3px inset white;
  position: relative;
  border-radius: 7px;
}
.splittermond li.taglist-item:hover {
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3), 0 0px 3px inset white;
}
.splittermond li.taglist-item:hover .taglist-item-actions {
  opacity: 1;
}
.splittermond .taglist-item-name {
  padding-left: 3px;
  padding-right: 3px;
  flex: 1;
}
.splittermond .taglist-item-actions {
  padding-left: 3px;
  padding-right: 3px;
  display: inline-block;
  opacity: 0;
}
.splittermond .subnav {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  border-radius: 3px;
  font-size: 14px;
  border: 1px inset rgba(255, 255, 255, 0.3);
  align-self: start;
  overflow: hidden;
  margin-bottom: 7px;
  font-family: 'Vollkorn SC';
  font-weight: 600;
  text-transform: lowercase;
  color: #303336;
}
.splittermond .subnav-item {
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
  flex: 1;
  text-align: center;
  text-transform: none;
  border-radius: 0;
  border: 1px outset rgba(255, 255, 255, 0.3);
}
.splittermond .subnav-item.active {
  background: none;
  box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.2);
  border: none;
  top: 0px;
  border-radius: 0;
}
.splittermond .solars,
.splittermond .lunars,
.splittermond .telars {
  display: inline-block;
  border-radius: 3px;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3), 0 0px 3px inset white;
  margin-left: 0.5em;
  padding-right: 0.2em;
}
.splittermond .solars::before,
.splittermond .lunars::before,
.splittermond .telars::before {
  display: inline-block;
  content: " ";
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.2em;
  background-size: contain;
  vertical-align: middle;
  border-radius: 3px;
}
.splittermond .solars::after,
.splittermond .lunars::after,
.splittermond .telars::after {
  display: inline;
}
.splittermond .solars input,
.splittermond .lunars input,
.splittermond .telars input {
  text-align: right;
  width: 3em;
}
.splittermond .solars::after {
  content: " S ";
}
.splittermond .lunars::after {
  content: " L ";
}
.splittermond .telars::after {
  content: " T ";
}
.splittermond .solars::before {
  background-image: url(../../icons/commodities/currency/coins-assorted-mix-copper.webp);
}
.splittermond .lunars::before {
  background-image: url(../../icons/commodities/currency/coins-assorted-mix-silver.webp);
}
.splittermond .telars::before {
  background-image: url(../../icons/commodities/currency/coins-assorted-mix-platinum.webp);
}
.splittermond .currency {
  text-align: center;
  padding: 3px;
}
.splittermond .currency .solars::before,
.splittermond .currency .lunars::before,
.splittermond .currency .telars::before {
  width: 1.8em;
  height: 1.8em;
}
.splittermond .status-actions {
  display: flex;
  flex-direction: row;
}
.splittermond .editor {
  flex: 1;
  justify-self: stretch;
  align-self: stretch;
  height: 100%;
  min-height: 100px;
}
.splittermond .item-type {
  font-family: "Vollkorn SC";
  font-weight: bold;
  text-transform: lowercase;
  padding: 3px;
}
.splittermond .properties-editor {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 3px;
  padding: 7px;
  align-items: baseline;
  width: 100%;
  min-height: 100px;
  font-weight: 900;
  justify-self: start;
  align-self: start;
}
.splittermond .properties-editor h3 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.splittermond .properties-editor > label {
  font-weight: 600;
  text-align: right;
  justify-items: start;
  border-right: 2px groove rgba(255, 255, 255, 0.3);
  padding-right: 7px;
}
.splittermond .filter {
  align-content: center;
}
.splittermond .filter .row {
  align-items: center;
}
.splittermond.compendium-browser .list {
  align-items: stretch;
}
.splittermond.compendium-browser .list label {
  font-weight: bold;
}
.splittermond.compendium-browser .list .level {
  width: 80px;
  text-align: center;
  height: 100%;
}
.splittermond.compendium-browser .list .skill {
  width: 100px;
  text-align: center;
  height: 100%;
}
.splittermond.compendium-browser .list .damage {
  width: 60px;
  text-align: center;
  height: 100%;
}
.splittermond.compendium-browser .list .features {
  font-family: "Signika";
  font-size: 10px;
}
.splittermond.compendium-browser .list .compendium {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  width: 160px;
}
.splittermond.compendium-browser .list .compendium .id {
  font-family: "Signika";
  font-size: 10px;
}
.splittermond.compendium-browser .list .taglist li {
  font-family: "Signika";
  font-size: 10px;
}
.splittermond.check,
.splittermond.damage {
  flex-direction: column;
}
.splittermond.check header,
.splittermond.damage header {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.splittermond.check header img,
.splittermond.damage header img {
  margin-right: 7px;
}
.splittermond.check .roll-type,
.splittermond.damage .roll-type,
.splittermond.check .difficulty,
.splittermond.damage .difficulty {
  font-weight: bold;
}
.splittermond.check .roll-total,
.splittermond.damage .roll-total {
  display: block;
  text-align: center;
  font-size: 20px;
  font-family: Vollkorn;
  font-variant-numeric: lining-nums;
  font-weight: bold;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(255, 255, 255, 0) 100%);
  color: #892100;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5), 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  text-shadow: 0px 0px 5px #FFFFFF;
}
.splittermond.check .degree-of-success,
.splittermond.damage .degree-of-success {
  display: block;
  text-align: center;
  line-height: 24px;
  font-family: Vollkorn;
  color: #892100;
  font-variant-numeric: lining-nums;
}
.splittermond.check .degree-of-success .stars,
.splittermond.damage .degree-of-success .stars {
  color: #FFB800;
  filter: drop-shadow(0px 0px 10px #FFEFC7);
}
.splittermond.check.fumble .roll-total,
.splittermond.damage.fumble .roll-total {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(239, 58, 0, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
}
.splittermond.check.success .degree-of-success,
.splittermond.damage.success .degree-of-success,
.splittermond.check.success .roll-total,
.splittermond.damage.success .roll-total {
  color: #458900;
}
.splittermond.check.critical .roll-total,
.splittermond.damage.critical .roll-total {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(120, 239, 0, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
}
.splittermond.check .actions,
.splittermond.damage .actions {
  display: flex;
  flex-direction: column;
}
.splittermond.check h3,
.splittermond.damage h3 {
  font-family: Signika;
  font-size: 14px;
  font-weight: bold;
}
.splittermond.check ul.features,
.splittermond.damage ul.features {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
  font-family: Signika;
  font-size: 12px;
}
.splittermond.check ul.features li,
.splittermond.damage ul.features li {
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.splittermond.check ul.features li.active,
.splittermond.damage ul.features li.active {
  background-color: #143a66;
  color: white;
}
.splittermond.wizard.species .window-content .properties-editor {
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.splittermond.wizard.species .window-content .properties-editor div {
  display: grid;
  grid-template-columns: 2em 2em 2em;
  gap: 0.2em;
  align-items: baseline;
}
.splittermond.wizard.species .window-content .properties-editor div .value {
  text-align: center;
}
.splittermond.wizard.species .window-content footer {
  display: flex;
}
.splittermond ul.checkbox-list {
  display: block;
  margin: 0;
  padding: 0;
}
.splittermond ul.checkbox-list li {
  display: inline;
  margin: 0;
  padding: 0;
}
.splittermond ul.checkbox-list li input {
  display: none;
}
.splittermond ul.checkbox-list li label {
  cursor: pointer;
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
  padding: 3px;
  border-radius: 3px;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3), 0 0px 3px inset white;
  white-space: nowrap;
}
.splittermond ul.checkbox-list li input ~ label {
  opacity: 0.7;
}
.splittermond ul.checkbox-list li input ~ label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\f067";
}
.splittermond ul.checkbox-list li input:checked ~ label {
  opacity: 1;
}
.splittermond ul.checkbox-list li input:checked ~ label::before {
  content: "\f00c";
}
.splittermond .dialog-buttons > button {
  margin-right: 0;
  margin-top: 0;
}
.splittermond .dialog-buttons > button:last-child {
  margin-right: 3px;
}
.splittermond.dialog-check input[name="difficulty"] {
  font-size: 24px;
  width: 2.5em;
  text-align: center;
}
.splittermond.dialog-check input[name="modifier"] {
  width: 2.5em;
  text-align: center;
}
.splittermond .fumble-table-result-item {
  display: none;
  padding-top: 3px;
  margin-top: 3px;
  opacity: 0.7;
  border-top: 2px groove rgba(255, 255, 255, 0.3);
}
.splittermond .fumble-table-result-item-active {
  display: block;
  padding-top: 7px;
  opacity: 1;
}
.splittermond .fumble-table-result-item-range {
  float: right;
  opacity: 0.7;
}
.chat-message a.rollable,
.chat-message a.request-skill-check,
.chat-message a.add-tick {
  background: #DDD;
  padding: 1px 4px;
  border: 1px solid #4b4a44;
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
}
.chat-message a.rollable i,
.chat-message a.request-skill-check i,
.chat-message a.add-tick i {
  color: #7a7971;
}
.app.window-app.journal-sheet:not(.dark) {
  background: url(../../systems/splittermond/images/parchment.jpg), url(../../systems/splittermond/images/background_journal.jpg);
  background-size: auto;
  background-repeat: repeat, no-repeat;
  background-position: bottom left;
  background-blend-mode: multiply;
  color: black;
  box-shadow: 0 0 5px inset rgba(255, 255, 255, 0.3), 0 0 20px #000;
}
.app.window-app.journal-sheet:not(.dark) .window-header,
.app.window-app.journal-sheet:not(.dark).window-app.minimized .window-header {
  color: black;
  border: none;
  text-shadow: 0 0 10px white;
}
.app.window-app.journal-sheet:not(.dark) .window-title {
  color: black;
}
.app.window-app.journal-sheet:not(.dark) .window-content {
  font-size: 14px;
  color: #303336;
  font-family: 'Vollkorn';
  font-variant-numeric: lining-nums;
  position: relative;
  padding: 0em;
  z-index: 0;
  background: unset;
}
.app.window-app.journal-sheet:not(.dark) a:hover {
  text-shadow: 0 0 8px #2D80E1;
}
.app.window-app.journal-sheet:not(.dark) input[type="text"],
.app.window-app.journal-sheet:not(.dark) #autoexpanddummy {
  font-variant-numeric: lining-nums;
  border: none;
  background: none;
  color: #143a66;
  padding: 3px;
  padding-bottom: 3px;
  margin: 0;
  vertical-align: baseline;
  display: inline-block;
  border-radius: 7px;
  font-weight: bold;
}
.app.window-app.journal-sheet:not(.dark) input[type="text"]:disabled,
.app.window-app.journal-sheet:not(.dark) #autoexpanddummy:disabled {
  color: #303336;
}
.app.window-app.journal-sheet:not(.dark) input[type="text"]:hover,
.app.window-app.journal-sheet:not(.dark) #autoexpanddummy:hover {
  text-shadow: 0 0 0.3em white;
}
.app.window-app.journal-sheet:not(.dark) input[type="text"]:focus,
.app.window-app.journal-sheet:not(.dark) #autoexpanddummy:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 0.3em white;
}
.app.window-app.journal-sheet:not(.dark) input[type="text"].autoexpand,
.app.window-app.journal-sheet:not(.dark) #autoexpanddummy.autoexpand {
  box-sizing: content-box;
}
.app.window-app.journal-sheet:not(.dark) button:hover,
.app.window-app.journal-sheet:not(.dark) button:focus,
.app.window-app.journal-sheet:not(.dark).dialog button:hover,
.app.window-app.journal-sheet:not(.dark).dialog button.default:hover {
  box-shadow: 0 0 14px inset white;
  text-shadow: 0 0 8px #2D80E1;
}
.app.window-app.journal-sheet:not(.dark) button:active {
  box-shadow: 0 0 14px inset rgba(0, 0, 0, 0.2);
}
.app.window-app.journal-sheet:not(.dark) button,
.app.window-app.journal-sheet:not(.dark).dialog button,
.app.window-app.journal-sheet:not(.dark).dialog button.default {
  background: none;
  border: 2px groove rgba(255, 255, 255, 0.3);
  box-shadow: none;
  border-radius: 3px;
  font-family: "Vollkorn";
  text-shadow: 0 0 3px white;
  margin: 3px;
}
.app.window-app.journal-sheet:not(.dark).dialog button,
.app.window-app.journal-sheet:not(.dark).dialog button.default {
  margin: 0;
}
.app.window-app.journal-sheet:not(.dark) ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.app.window-app.journal-sheet:not(.dark) ::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: rgba(20, 58, 102, 0.5);
  border: 1px outset rgba(255, 255, 255, 0.3);
}
.app.window-app.journal-sheet:not(.dark) ::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 14px;
  border: none;
}
.app.window-app.journal-sheet:not(.dark) form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.app.window-app.journal-sheet:not(.dark) form > .editor {
  flex: 1;
  width: 100%;
}
.app.window-app.journal-sheet:not(.dark) select[name="folder"] {
  order: -1;
  height: unset;
  width: unset;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}
.app.window-app.journal-sheet:not(.dark) select[name="folder"],
.app.window-app.journal-sheet:not(.dark) input[name="name"],
.app.window-app.journal-sheet:not(.dark) h1,
.app.window-app.journal-sheet:not(.dark) h2,
.app.window-app.journal-sheet:not(.dark) h3 {
  font-family: "Vollkorn SC";
  border: none;
  font-weight: bold;
  margin: 0px;
  line-height: 1.4;
}
.app.window-app.journal-sheet:not(.dark) h1,
.app.window-app.journal-sheet:not(.dark) input[name="name"] {
  font-size: 24px;
  margin: 0 auto;
  max-width: 500px;
}
.app.window-app.journal-sheet:not(.dark) h2 {
  font-size: 18px;
  margin: 0 auto;
  max-width: 500px;
}
.app.window-app.journal-sheet:not(.dark) h3 {
  font-size: 14px;
  margin: 0 auto;
  max-width: 500px;
}
.app.window-app.journal-sheet:not(.dark) select[name="folder"] {
  text-transform: lowercase;
}
.app.window-app.journal-sheet:not(.dark) p,
.app.window-app.journal-sheet:not(.dark) ul,
.app.window-app.journal-sheet:not(.dark) ol {
  line-height: 1.4;
  margin: 0 auto;
  padding: 7px;
  min-width: 300px;
  max-width: 500px;
  text-align: justify;
}
.app.window-app.journal-sheet:not(.dark) ul,
.app.window-app.journal-sheet:not(.dark) ol {
  padding-left: 50px;
}
.app.window-app.journal-sheet:not(.dark) p + h1,
.app.window-app.journal-sheet:not(.dark) p + h2,
.app.window-app.journal-sheet:not(.dark) p + h3 {
  margin-top: 14px;
}
.app.window-app.journal-sheet:not(.dark) .box {
  margin: 19.6px;
  padding: 7px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  background: url(../../systems/splittermond/images/parchment.jpg), url(../../systems/splittermond/images/background7.jpg);
  background-size: auto;
  background-repeat: repeat, no-repeat;
  background-position: top right;
  background-blend-mode: multiply;
  color: black;
  box-shadow: 0 0 3px inset rgba(255, 255, 255, 0.2), 0 0 6px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 5px white;
}
.app.window-app.journal-sheet:not(.dark) caption {
  font-weight: bold;
}
.app.window-app.journal-sheet:not(.dark) blockquote {
  margin: 0 auto;
  min-width: 300px;
  max-width: 500px;
  border-radius: 3px;
}
.app.window-app.journal-sheet:not(.dark) img {
  border: none;
}
.app.window-app.journal-sheet:not(.dark) table {
  margin: 0 auto;
  border: none;
  width: auto;
  background: transparent;
  border-collapse: unset;
  border-spacing: 0px;
  border: 1px inset rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}
.app.window-app.journal-sheet:not(.dark) table thead {
  border: none;
  color: inherit;
  text-shadow: none;
}
.app.window-app.journal-sheet:not(.dark) table thead td,
.app.window-app.journal-sheet:not(.dark) table thead th {
  background: url(../../systems/splittermond/images/parchment.jpg), url(../../systems/splittermond/images/background_journal.jpg);
  background-size: auto;
  background-repeat: repeat, no-repeat;
  background-position: bottom left;
  background-blend-mode: multiply;
  background-attachment: fixed;
  position: sticky;
  top: 0;
  border-top: 1px outset rgba(255, 255, 255, 0.3);
  border-bottom: 1px outset rgba(255, 255, 255, 0.3);
  font-weight: bold;
}
.app.window-app.journal-sheet:not(.dark) table thead td:first-child,
.app.window-app.journal-sheet:not(.dark) table thead th:first-child {
  border-left: 1px outset rgba(255, 255, 255, 0.3);
  border-top-left-radius: 3px;
}
.app.window-app.journal-sheet:not(.dark) table thead td:last-child,
.app.window-app.journal-sheet:not(.dark) table thead th:last-child {
  border-right: 1px outset rgba(255, 255, 255, 0.3);
  border-top-right-radius: 3px;
}
.app.window-app.journal-sheet:not(.dark) table tbody {
  box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.2);
}
.app.window-app.journal-sheet:not(.dark) table tbody:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.app.window-app.journal-sheet:not(.dark) table tbody:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.app.window-app.journal-sheet:not(.dark) table tbody tr:nth-child(odd) {
  background-color: rgba(48, 51, 54, 0.05);
}
.app.window-app.journal-sheet:not(.dark) table td {
  padding: 3px;
  border: none;
}
.app.window-app.journal-sheet:not(.dark) table td:first-child {
  padding-left: 7px;
}
.app.window-app.journal-sheet:not(.dark) table td:last-child {
  padding-right: 7px;
}
.app.window-app.journal-sheet:not(.dark) a.rollable,
.app.window-app.journal-sheet:not(.dark) a.request-skill-check,
.app.window-app.journal-sheet:not(.dark) a.add-tick {
  background: #DDD;
  padding: 1px 4px;
  border: 1px solid #4b4a44;
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
}
.app.window-app.journal-sheet:not(.dark) a.rollable i,
.app.window-app.journal-sheet:not(.dark) a.request-skill-check i,
.app.window-app.journal-sheet:not(.dark) a.add-tick i {
  color: #7a7971;
}
