@import "./variables.less";
//should affect all AppV2 Dialogues
@window-foreground-color: #3a3a3a;
.window-header-def() {
  flex: 0 0 30px;
  overflow: hidden;
  padding: 0 8px;
  background: none;
  color: @window-foreground-color;
  .window-title {
    color: @window-foreground-color;
    font-family: @font-primary;
    font-variant-numeric: lining-nums;
  }
  button.header-control:extend(button.button-style) {
    color: @window-foreground-color;
    width: 22px;
    height: 22px;
  }
}

.window-body-def(){
  label {
    color: @window-foreground-color;
  }

  button {
    .button-style();
  }
  button.button-inline {
    .button-inline();
  }
}

//DialogV2 header
dialog.application.dialog .window-header {
  .window-header-def()
}

//DialogV2 body
dialog.application .window-content {
  .window-body-def()
}

//ApplicationV2 header
form.application .window-header {
  .window-header-def()
}

//ApplicationV2 body
form.application .window-content {
  .window-body-def();

}

//Application V1
.app.window-app {
  .window-body-def();

  //Style th short and long rest buttons on the actor sheet
  button[data-action="short-rest"] {
    .button-style();
  }
  button[data-action="long-rest"] {
    .button-style();
  }

  //Prevents having space around the <pre> element used for the help text of min-attributes
  .help-text pre {
    margin: 0
  }
}


.window-app.sheet.splittermond:not(.dark):not(.journal-entry) .window-content {
  .application-override-mixin();
}

.application-override-mixin() {
  background: var(--splittermond-background-parchment-blue), var(--splittermond-background-parchment);
  background-position: top right;
  background-blend-mode: var(--background-parchment-splittermond-blend-mode);
  background-clip: padding-box;
}

.chat-message:extend(.border-paper) {
  background: var(--splittermond-background-parchment);
  border-image-repeat: repeat;
  z-index: 0;
  position: relative;

  .message-header {
    color: rgba(var(--color-text-secondary_rgb), 0.7);
  }
}