
@font-face {
    font-family: 'Vollkorn';
    src: url('../../public/fonts/Vollkorn-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 1 999;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('../../public/fonts/Vollkorn-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
    font-weight: 1 999;
}

@font-face {
    font-family: 'Vollkorn SC';
    src: url('../../public/fonts/VollkornSC-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Vollkorn SC';
    src: url('../../public/fonts/VollkornSC-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Vollkorn SC';
    src: url('../../public/fonts/VollkornSC-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Vollkorn SC';
    src: url('../../public/fonts/VollkornSC-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Almendra';
    src: url('../../public/fonts/Almendra-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Almendra';
    src: url('../../public/fonts/Almendra-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Almendra';
    src: url('../../public/fonts/Almendra-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Almendra';
    src: url('../../public/fonts/Almendra-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Almendra SC';
    src: url('../../public/fonts/AlmendraSC-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
