<form>
    <label>{{localize "splittermond.difficulty"}}</label>
    <input name="difficulty" value="{{difficulty}}" data-dtype="Number">

    <label>{{localize "splittermond.modifier"}}</label>
    <input name="modifier" value="{{modifier}}" data-dtype="Number">
</form>